@font-face {
    font-family: GothamBook;
    src: url("Gotham-Book.otf") format("opentype");
}

body, html {
	height: 100%;
	margin: 0;
}

.col-sm h4 {
	color: #1F78BD;
	text-align: center;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "GothamBook", sans-serif;
}

h1 {
	font-size: 64px;
}

h2 {
	font-size: 56px;
}

h3 {
	font-size: 48px;
}

h4 {
	font-size: 40px;
}

h5 {
	font-size: 32px;
}

h6 {
	font-size: 16px;
}

p {
	font-size: 16pt;
}

#golf {
	
}

#title {
	opacity: 1;
}

.splash {
	background: center no-repeat url("green_opaque2.jpg");
	height: 100%;
	position: relative;
	width: 100%;
}

.splash div {
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	transform: translate(-50%, -50%);
}